# Required - The ID of your Sanity project
SANITY_STUDIO_PROJECT_ID="9g154xlz"
# Required - The dataset of your Sanity project
SANITY_STUDIO_DATASET="production"
# Optional - The URL of your application, for use in Presentation
SANITY_STUDIO_PREVIEW_URL="http://localhost:5173"
# Optional - The URL to deploy your Sanity Studio to,
SANITY_STUDIO_STUDIO_HOST=""



PUBLIC_SANITY_API_VERSION="2024-03-15"
PUBLIC_SANITY_DATASET="production"
PUBLIC_SANITY_PROJECT_ID="9g154xlz"
PUBLIC_SANITY_STUDIO_API_VERSION="2024-03-15"
PUBLIC_SANITY_STUDIO_DATASET="production"
PUBLIC_SANITY_STUDIO_PROJECT_ID="9g154xlz"
PUBLIC_SANITY_STUDIO_STUDIO_URL="http://localhost:3333"
PUBLIC_SANITY_STUDIO_URL="http://localhost:3333"